<html>
    <head>
        <title>Ola's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        {{posts}}
        {% for post in posts %}
            <div>
                <p>published: {{post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

        <div>
            <p>published: 17.06.2021, 15:24</p>
            <h2><a href="/">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは！よろしくお願いします！</p>
        </div>

        <div>
            <p>公開日: 2021/06/21, 15:27</p>
            <h3><a href="">２番目の投稿</a></h3>
            <p>こんにちは！　よろしくお願いします！</p>
        </div>
    </body>
</html>